body {
    background:#cccc;
    
}

#top{
    position:absolute ;
    top:20%;
    left:53%;
    transform:translate(-50%,-50%);
}

span{
    font-weight:bolder;
    font-size:3em;
    color:gray;
    opacity:0.5;
    
}

table{
    position:absolute ;
    top:60%;
    left:52%;
    transform:translate(-50%,-50%);
    
}

td{
    width:100px;
    height:70px;
    text-align:center;
}

button{
   width:50px; 
   height:50px;
   background-color:transparent ;
   font-size:2em;
   border:1px solid black;
   border-radius: 50%;
   outline:none;
}

button:hover{
    font-size: 15px;
}

#bottom{
    width:100%;
    height:100%;
    background:lightgreen;
    position:absolute ;
    z-index:1;
    display:none;
}

p{
     position:absolute ;
    top:40%;
    left:48%;
    transform:translate(-50%,-50%);
    font-weight:bold;
    font-size:1em;
}

#bottom>p:nth-child(2){
    top:45%;
    
}

#bottom>p:nth-child(3){
    top:55%;
    
}

#bottom>p:nth-child(4){
    top:60%;
    font-size:0.8em;
}

a{
text-decoration:none;
font-weight:bolder;
font-size:1em;
}

tr:nth-child(6){
    
    text-align:center;  
}

tr:nth-child(6)>td:nth-child(2)>button{
    height:50px;
    font-size:1.5em;
    margin-right:20px;
}

tr:nth-child(5){
    height:20px;
}


